{
  "IsEncrypted": false,
  "Values": {
    "AzureWebJobsStorage": "UseDevelopmentStorage=true",
    "FUNCTIONS_WORKER_RUNTIME": "dotnet-isolated",
    "DocumentScanQueue": "document-scan-queue",
    "DocumentStorageConnection": "UseDevelopmentStorage=true",
    "DocumentBlobContainer": "document-files"
  }
}
